<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="yuzefeng">
    <title>the node of yuzefeng</title>
    <link rel="icon" href="">



    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.css" />
    <link rel="stylesheet" href="/stylesheets/style2.css" />





</head>
<body>


<div class="container">

    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container" >
            <div class="navbar-header">

                <a class="navbar-brand" href="/">node life</a>
            </div>

            <div class="navbar-collapse collapse" >
                <ul class="nav navbar-nav" >
                    <li><a title="主页" href="/">主页</a></li>
                    <li><a title="存档" href="/archive">存档</a></li>
                    <li><a title="标签" href="/tags">标签</a></li>
                    <li><a title="友情链接" href="/links">友情链接</a></li>
                    <li>
                        <form class="navbar-form navbar-right" action="/search" method="GET"><input type="text" name="keyword" placeholder="SEARCH" class="search" />
                        </form>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <% if(user){%>
                        <li class="navbar-text">
                            <span>欢迎您！<%= user.name %></span>

                        </li>
                        <!--<li><a title="上传" href="/upload">上传图片</a></li>-->
                        <li><a title="发表" href="/admin/post/new">发表文章</a></li>
                        <li><a title="登出" href="/logout">登出</a></li>
                    <%}else{%>
                        <li><a title="登录" href="/login" data-toggle="modal" data-target="#signinModal">登录</a></li>
                        <li><a title="注册" href="/reg" data-toggle="modal" data-target="#signupModal">注册</a></li>
                    <%}%>


                </ul>
            </div>
        </div>
    </div>
    <div id="signupModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="POST" action="/usr/signup">
                    <div class="modal-header">
                        注册
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="signupName">
                                用户名
                            </label>
                            <input id="signupName" class="form-control" name="user[name]" type="text"/>
                        </div>
                        <div class="form-group">
                            <label for="signupPassword">
                                密码
                            </label>
                            <input id="signupPassword" class="form-control" name="user[password]" type="password"/>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-dafault" type="button" data-dismiss="modal">关闭</button>
                        <button class="btn btn-success" type="submit" >提交</button>

                    </div>
                </form>
            </div>
        </div>
    </div>


    <div id="signinModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="POST" action="/usr/signin">
                    <div class="modal-header">
                        登录
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="signinName">
                                用户名
                            </label>
                            <input id="signinName" class="form-control" name="user[name]" type="text"/>
                        </div>
                        <div class="form-group">
                            <label for="signinPassword">
                                密码
                            </label>
                            <input id="signinPassword" class="form-control" name="user[password]" type="password"/>
                        </div>
                        <a href="/login/github/callback">使用github登录</a>

                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-dafault" type="button" data-dismiss="modal">关闭</button>
                        <button class="btn btn-success" type="submit" >提交</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <% if(success){%>

            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <strong>恭喜您！</strong> <%= success %>
            </div>
            <%}%>
            <%if(error){%>


            <div class="alert alert-warning alert-dismissible " role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <strong class="text-center">对不起!出现了点小问题。</strong> <%= error %>
            </div>
            <%} if(warms){%>
            <div class="alert alert-warning alert-dismissible " role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <strong class="text-center">对不起!出了点小问题。</strong> <%= warms %>
            </div>
            <% } %>

        </div>
    </div>
<article>
