<%- include header%>

<div class="container">
<div class="row">
    <div class="col-sm-10">
        <ul class="list-group">
            <li class="list-group-item"><a href="http://www.tuicool.com/a/">推酷</a>&nbsp&nbsp&nbsp&nbsp专注于IT领域的信息挖掘和推荐</li>
            <li class="list-group-item"><a href="http://www.zhihu.com">知乎</a>&nbsp&nbsp&nbsp&nbsp创造有价值的内容</li>
            <li class="list-group-item"><a href="http://v3.bootcss.com/css/#helper-classes">全局 CSS 样式</a>&nbsp&nbsp&nbsp&nbsp设置全局 CSS 样式；基本的 HTML 元素均可以通过 class 设置样式并得到增强效果；还有先进的栅格系统。</li>

            <li class="list-group-item"><a href="http://segmentfault.com">segmentfault</a>&nbsp&nbsp&nbsp&nbsp年轻开发者社区</li>
            <li class="list-group-item"><a href="https://developer.mozilla.org/zh-CN/docs/Web/JavaScript/Reference">JavaScript参考文档</a>&nbsp&nbsp&nbsp&nbspJavaScript 语言是打算用于一些大的环境，比如浏览器、服务器端脚本或类似的环境。本文档大多数情况下是与环境无关的，不仅仅针对网络浏览器环境。作为示范，本参考使用函数 println，它不是 JavaScript 的一部分，但可以被映射到特定环境中用于显示其接受的值。</li>
            <li class="list-group-item"><a href="http://nodejs.org/api/">nodejs API</a>&nbsp&nbsp&nbsp&nbsp nodejs API英文文档。</li>
            <li class="list-group-item"><a href="https://cnodejs.org">cnodejs.org</a>&nbsp&nbsp&nbsp&nbsp为国内最专业的 Node.js 开源技术社区，致力于 Node.js 的技术研究。</li>
            <li class="list-group-item"><a href="http://glyphicons.com/">GLYPHICONS</a>&nbsp&nbsp&nbsp&nbspGLYPHICONS is a library of precisely prepared monochromatic icons and symbols, created with an emphasis on simplicity and easy orientation.</li>

        </ul>
    </div>
</div>
</div>

<%- include footer%>
