<%- include header%>
<!--
Created by yuzefeng on 14-10-17.
-->
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <form method="POST" action="/usr/signup">
                <div class="modal-header">
                    注册
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="signupName">
                            用户名
                        </label>
                        <input id="signupName" class="form-control" name="user[name]" type="text"/>
                    </div>
                    <div class="form-group">
                        <label for="signupPassword">
                            密码
                        </label>
                        <input id="signupPassword" class="form-control" name="user[password]" type="password"/>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-dafault" type="button" href="/">关闭</button>
                    <button class="btn btn-success" type="submit" >提交</button>

                </div>
            </form>
        </div>


    </div>
</div>


<%- include footer%>
